#playlist {
  block-size: 100dvh;
  inline-size: min(80dvw, 48rem);
  overflow-x: clip;
  overflow-y: auto;
  padding-block: 1rem;
  box-sizing: border-box;

  @media (min-width: 1024px) {
    inline-size: min(50dvw, 48rem);
  }

  @media (min-width: 1440px) {
    inline-size: min(33dvw, 52rem);
  }

  button {
    all: unset;
    display: inline-block;
    text-align: start;
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
    max-inline-size: 100%;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.44;
    color: #fff;
    padding: .5rem 1rem;
    box-sizing: border-box;

    &:hover,
    &:focus {
      background-color: #c00;
    }

    /* Currently playing file. */
    &[aria-current="true"] {
      font-weight: 700;
      color: #c00;
    }

    &[aria-current="true"]:hover,
    &[aria-current="true"]:focus {
      color: #fff;
    }
  }
}